VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a528873003897b6dbba"
VITE_APPWRITE_DATABASE_ID="6a53b1a4002566268803"
VITE_APPWRITE_COLLECTION_ID="articles"
VITE_APPWRITE_BUCKET_ID="6a53b52e002a528df657"